version: '3.8'

services:
  nginx:
    image: {{ IMAGE_NGINX }}
    init: true
    restart: always
    ports:
      - {{ PORT }}:8080
    networks:
      - laravel_external
    environment:
      - WAIT_HOSTS=php-fpm:9000

  php-fpm:
    image: {{ IMAGE_PHP_FPM }}
    init: true
    restart: always
    networks:
      - laravel_external
    environment:
       PHP_OPCACHE_VALIDATE_TIMESTAMPS: {{ PHP_OPCACHE_VALIDATE_TIMESTAMPS }}
       APP_SECRET: {{ APP_SECRET }}
       DATABASE_URL: "mysql://root:{{ MYSQL_ROOT_PASSWORD }}@mariadb:3306/{{ MYSQL_DATABASE }}"
       WAIT_HOSTS: mariadb:3306

  mariadb:
    image: mariadb:10.4
    init: true
    restart: always
    networks:
      - laravel_external
    environment:
      MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD}}
      MYSQL_DATABASE: {{ MYSQL_DATABASE }}

networks:
  laravel_external:
